[submodule "triton"]
	path = triton
	url = git@github.com:Xarlley/triton.git

[submodule "spikingjelly"]
	path = spikingjelly
	url = https://github.com/fangwei123456/spikingjelly.git
[submodule "pytorch"]
	path = pytorch
	url = https://github.com/pytorch/pytorch.git
[submodule "nir"]
	path = nir
	url = https://github.com/neuromorphs/NIR.git
[submodule "nirtorch"]
	path = nirtorch
	url = https://github.com/neuromorphs/NIRTorch.git
