[submodule "triton"]
	path = triton
	url = git@github.com:Xarlley/triton.git

[submodule "spikingjelly"]
	path = spikingjelly
	url = git@github.com:Xarlley/spikingjelly.git
[submodule "pytorch"]
	path = pytorch
	url = https://github.com/pytorch/pytorch.git
[submodule "nir"]
	path = nir
	url = https://github.com/neuromorphs/NIR.git
[submodule "nirtorch"]
	path = nirtorch
	url = https://github.com/neuromorphs/NIRTorch.git
[submodule "spyx"]
	path = spyx
	url = https://github.com/kmheckel/spyx.git
[submodule "norse"]
	path = norse
	url = https://github.com/norse/norse.git
