Function:triton_poi_fused__native_batch_norm_legit_no_training__to_copy_add_convolution_div_ge_max_pool2d_with_indices_select_sub_view_9
--:-:-:-:1	LDC R1, c[0x0][0x37c];
--:-:0:-:1	S2R R0, SR_TID.X;
--:-:-:-:1	MOV R4, RZ;
--:-:1:-:1	LDCU.128 UR8, c[0x0][0x380];
--:-:2:-:1	S2R R3, SR_CTAID.X;
--:-:3:-:1	LDCU.64 UR4, c[0x0][0x358];
01:-:-:-:1	IMAD.SHL.U32 R0, R0, 0x2, RZ;
04:-:-:Y:4	SHF.R.S32.HI R2, RZ, 0x16, R3;
--:-:-:-:2	LOP3.LUT R0, R0, 0x1fe, RZ, 0xc0, !PT;
--:-:-:Y:3	SGXT R2, R2, 0x1;
--:-:-:Y:5	IMAD R3, R3, 0x200, R0;
--:-:-:-:1	LEA.HI R0, R2, R3, RZ, 0x6;
--:-:-:Y:3	HFMA2 R2, -RZ, RZ, 0, 0;
--:-:-:-:2	SHF.R.S32.HI R5, RZ, 0x6, R0;
--:-:-:-:1	IMAD.HI R6, R3, -0x6db6db6d, R2;
--:-:-:Y:3	LOP3.LUT R9, R0, 0xffffffc0, RZ, 0xc0, !PT;
--:-:-:-:1	IMAD.HI R2, R5, -0x6db6db6d, R4;
--:-:-:-:1	SHF.R.U32.HI R11, RZ, 0x1f, R6;
--:-:-:Y:3	IADD R9, R3, -R9;
--:-:-:-:2	SHF.R.U32.HI R7, RZ, 0x1f, R2;
--:-:-:-:2	LEA.HI R6, R6, R11, RZ, 0x14;
--:-:-:Y:3	LEA.HI R7, R2, R7, RZ, 0x1a;
--:-:-:-:2	IMAD R6, R6, 0x7000, R9;
--:-:-:Y:4	IMAD R7, R7, -0x70, R5;
--:-:-:Y:4	IMAD R6, R7, 0x80, R6;
--:-:-:-:2	IMAD.SHL.U32 R4, R6.reuse, 0x4, RZ;
--:-:-:Y:5	IMAD.HI R5, R6, 0x4, RZ;
02:-:-:Y:6	IADD.64 R4, R4, UR8;
08:-:2:-:4	LDG.E.64 R6, desc[UR4][R4.64];
--:-:3:-:4	LDG.E.64 R8, desc[UR4][R4.64+0x100];
--:-:4:-:4	LDG.E.64 R10, desc[UR4][R4.64+0xe000];
--:-:5:-:1	LDG.E.64 R12, desc[UR4][R4.64+0xe100];
--:-:-:Y:2	IMAD.SHL.U32 R2, R3, 0x4, RZ;
--:-:-:Y:5	IMAD.HI R3, R3, 0x4, RZ;
--:-:-:-:2	IADD.64 R2, R2, UR10;
04:-:-:-:1	FSETP.NAN.AND P2, PT, R6.reuse, R6, PT;
--:-:-:-:1	FSETP.NAN.AND P3, PT, R7.reuse, R7, PT;
08:-:-:-:1	FSETP.GT.AND P0, PT, R6, R8, PT;
--:-:-:Y:a	FSETP.GT.AND P1, PT, R7, R9, PT;
--:-:-:-:1	@!P2 FSEL R6, R6, R8, P0;
--:-:-:Y:4	@!P3 FSEL R7, R7, R9, P1;
16:-:-:-:1	FSETP.GT.AND P0, PT, R6.reuse, R10, PT;
--:-:-:-:1	FSETP.GT.AND P1, PT, R7.reuse, R11, PT;
--:-:-:-:1	FSETP.NAN.AND P2, PT, R6, R6, PT;
--:-:-:Y:a	FSETP.NAN.AND P3, PT, R7, R7, PT;
--:-:-:-:1	@!P0 FSEL R6, R6, R10, P2;
--:-:-:Y:4	@!P1 FSEL R7, R7, R11, P3;
32:-:-:-:1	FSETP.GT.AND P0, PT, R6.reuse, R12, PT;
--:-:-:-:1	FSETP.GT.AND P1, PT, R7.reuse, R13, PT;
--:-:-:-:1	FSETP.NAN.AND P2, PT, R6, R6, PT;
--:-:-:Y:a	FSETP.NAN.AND P3, PT, R7, R7, PT;
--:-:-:-:1	@!P0 SEL R6, R6, R12, P2;
--:-:-:Y:5	@!P1 SEL R7, R7, R13, P3;
--:-:-:-:1	STG.E.64 desc[UR4][R2.64], R6;
--:-:-:-:5	EXIT;
LBB0:
--:-:-:Y:0	BRA LBB0;
--:-:-:Y:0	NOP;
--:-:-:Y:0	NOP;
--:-:-:Y:0	NOP;
--:-:-:Y:0	NOP;
--:-:-:Y:0	NOP;
--:-:-:Y:0	NOP;
--:-:-:Y:0	NOP;
--:-:-:Y:0	NOP;

